<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science Camp 2024 - Raspberry Pi Hub</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="wrapper">
        <%-body%>
    </div>
    <footer>
        &copy; since 2024 by VE.PLANT GmbH. More you will find <a target="_blank" href="https://www.ve-plant.com" title="VE.PLANT aus Erfurt hat BOCK auf GRÜN!">here</a>.
    </footer>
</body>
</html>